<a href="https://colab.research.google.com/github/Muhozgu/etl-and-analytics-with-spark-and-powerbi/blob/main/eda_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!sudo apt update

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://cli.github.com/packages stable InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:4 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
63 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-4.1.1/spark-4.1.1-bin-hadoop3.tgz

In [ ]:
!tar xf spark-4.1.1-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.2)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
!pip install py4j

Requirement already satisfied: py4j in /usr/local/lib/python3.12/dist-packages (0.10.9.9)

In [ ]:
import os
import sys
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-4.1.1-bin-hadoop3"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

In [ ]:
df = spark.read.csv(
    "/content/bmw_data.csv",
    header=True,
    inferSchema=True)

df.show()
df.printSchema()

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2016|         Asia|   Red|   Petrol|      Manual|          3.5|    151748|    98740|        8300|                High|
|      i8|2013|North America|   Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|7 Series|2020|South America| Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|
|5 Series|2017|  Middle East|Silver|   Diesel|      Manual|          1.9|    171362|    42926|        1232|                 Low|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|
|      M5|2014|         Asia| Black|   Diesel|   Automatic|          1.6|    121156|   102778|         632|                 Low|
|      X3|2016|South America| White|   Diesel|   Automatic|          1.7|     48073|   116482|        8944|                High|
|      i8|2019|       Europe| White| Electric|      Manual|          3.0|     35700|    96257|        4411|                 Low|
|3 Series|2012|  Middle East| White| Electric|      Manual|          2.4|    101595|   117995|         500|                 Low|
|      i8|2016|North America|  Blue|   Hybrid|      Manual|          1.9|    116863|    74539|        8252|                High|
|7 Series|2020|North America|Silver|   Diesel|   Automatic|          3.8|     27403|   100015|        8111|                High|
|5 Series|2020|       Africa| White| Electric|      Manual|          2.3|    163444|   119486|        4668|                 Low|
|      X1|2017|         Asia| Black| Electric|   Automatic|          1.6|    107918|    34078|        7291|                High|
|      M3|2014|North America|Silver|   Hybrid|      Manual|          3.0|    154050|    94997|        7765|                High|
|      X5|2013|         Asia|  Blue| Electric|      Manual|          2.6|    110142|   114844|        5561|                 Low|
|      M5|2017|North America|   Red|   Diesel|   Automatic|          2.6|     86900|    81934|        9755|                High|
|5 Series|2017|North America|Silver| Electric|      Manual|          3.1|     57843|   111326|        4880|                 Low|
|      X5|2012|       Africa|  Blue| Electric|      Manual|          3.8|    142243|    82677|        7104|                High|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows
root
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Engine_Size_L: double (nullable = true)
 |-- Mileage_KM: integer (nullable = true)
 |-- Price_USD: integer (nullable = true)
 |-- Sales_Volume: integer (nullable = true)
 |-- Sales_Classification: string (nullable = true)

In [ ]:
df_clean = df.dropna()
df_filled = df.fillna(0)

In [ ]:
from pyspark.sql.functions import col
# Example fix: Replace "column_name" with an actual column from your DataFrame, e.g., "Price_USD"
df = df.withColumn("Price_USD", col("Price_USD").cast("integer"))

In [ ]:
df = df.filter(df["Sales_Volume"] > 2000) # Example: filtering by 'Sales_Volume' being greater than 2000
df.show()

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2016|         Asia|   Red|   Petrol|      Manual|          3.5|    151748|    98740|        8300|                High|
|      i8|2013|North America|   Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|7 Series|2020|South America| Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|
|      X3|2016|South America| White|   Diesel|   Automatic|          1.7|     48073|   116482|        8944|                High|
|      i8|2019|       Europe| White| Electric|      Manual|          3.0|     35700|    96257|        4411|                 Low|
|      i8|2016|North America|  Blue|   Hybrid|      Manual|          1.9|    116863|    74539|        8252|                High|
|7 Series|2020|North America|Silver|   Diesel|   Automatic|          3.8|     27403|   100015|        8111|                High|
|5 Series|2020|       Africa| White| Electric|      Manual|          2.3|    163444|   119486|        4668|                 Low|
|      X1|2017|         Asia| Black| Electric|   Automatic|          1.6|    107918|    34078|        7291|                High|
|      M3|2014|North America|Silver|   Hybrid|      Manual|          3.0|    154050|    94997|        7765|                High|
|      X5|2013|         Asia|  Blue| Electric|      Manual|          2.6|    110142|   114844|        5561|                 Low|
|      M5|2017|North America|   Red|   Diesel|   Automatic|          2.6|     86900|    81934|        9755|                High|
|5 Series|2017|North America|Silver| Electric|      Manual|          3.1|     57843|   111326|        4880|                 Low|
|      X5|2012|       Africa|  Blue| Electric|      Manual|          3.8|    142243|    82677|        7104|                High|
|      X3|2015|North America|   Red|   Diesel|   Automatic|          3.7|    123910|    88091|        8635|                High|
|      M5|2011|       Europe|  Grey| Electric|   Automatic|          3.3|     78042|    49507|        9383|                High|
|7 Series|2017|North America| Black|   Petrol|   Automatic|          3.2|     58288|   101791|        7521|                High|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Engine_Size_L: double (nullable = true)
 |-- Mileage_KM: integer (nullable = true)
 |-- Price_USD: integer (nullable = true)
 |-- Sales_Volume: integer (nullable = true)
 |-- Sales_Classification: string (nullable = true)

In [ ]:
print("Total records:", df.count())

Total records: 50000

In [ ]:
df.describe().show()

+-------+--------+-----------------+-------------+-----+---------+------------+------------------+------------------+------------------+------------------+--------------------+
|summary|   Model|             Year|       Region|Color|Fuel_Type|Transmission|     Engine_Size_L|        Mileage_KM|         Price_USD|      Sales_Volume|Sales_Classification|
+-------+--------+-----------------+-------------+-----+---------+------------+------------------+------------------+------------------+------------------+--------------------+
|  count|   50000|            50000|        50000|50000|    50000|       50000|             50000|             50000|             50000|             50000|               50000|
|   mean|    NULL|        2017.0157|         NULL| NULL|     NULL|        NULL| 3.247179999999999|      100307.20314|        75034.6009|        5067.51468|                NULL|
| stddev|    NULL|4.324459218093149|         NULL| NULL|     NULL|        NULL|1.0090783975411621|57941.509343524616|25998.248881722793|2856.7671252296077|                NULL|
|    min|3 Series|             2010|       Africa|Black|   Diesel|   Automatic|               1.5|                 3|             30000|               100|                High|
|    max|      i8|             2024|South America|White|   Petrol|      Manual|               5.0|            199996|            119998|              9999|                 Low|
+-------+--------+-----------------+-------------+-----+---------+------------+------------------+------------------+------------------+------------------+--------------------+

In [ ]:
df.filter(df.Region == "South America").orderBy(F.desc("Sales_Volume")).show()

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2024|South America| White| Electric|      Manual|          2.5|     52062|    88572|        9999|                High|
|      M5|2019|South America|  Grey|   Petrol|      Manual|          3.8|    141592|   105893|        9998|                High|
|      M3|2010|South America|  Blue|   Petrol|   Automatic|          4.3|    191728|    54325|        9996|                High|
|      i3|2018|South America|   Red|   Diesel|      Manual|          1.8|    188763|    46568|        9996|                High|
|      i8|2013|South America| Black|   Hybrid|      Manual|          2.1|     96520|    48851|        9995|                High|
|3 Series|2017|South America|  Grey|   Hybrid|   Automatic|          3.5|     27670|   116299|        9995|                High|
|      M5|2022|South America|Silver|   Diesel|   Automatic|          4.2|    154272|   114766|        9994|                High|
|      i3|2023|South America|  Blue| Electric|   Automatic|          3.9|     58541|   113784|        9994|                High|
|      X6|2018|South America|Silver|   Diesel|      Manual|          3.0|       470|    84546|        9991|                High|
|3 Series|2012|South America| White|   Petrol|   Automatic|          2.5|     84277|   111569|        9990|                High|
|      X3|2021|South America|   Red|   Petrol|      Manual|          4.8|      2510|    86699|        9989|                High|
|      M3|2017|South America| Black|   Hybrid|      Manual|          3.5|     36536|   111905|        9988|                High|
|5 Series|2010|South America|   Red| Electric|      Manual|          4.6|     90476|    75309|        9988|                High|
|5 Series|2022|South America|  Blue| Electric|   Automatic|          2.1|    149327|    54276|        9988|                High|
|3 Series|2017|South America|  Grey|   Diesel|   Automatic|          2.8|     67842|    63859|        9986|                High|
|      i8|2010|South America|  Grey|   Hybrid|      Manual|          3.7|    104762|    38845|        9986|                High|
|      i8|2019|South America|  Blue|   Diesel|      Manual|          4.0|    123311|   103261|        9985|                High|
|7 Series|2023|South America|  Grey|   Hybrid|   Automatic|          4.5|    173701|    63591|        9984|                High|
|      X3|2014|South America|  Grey|   Hybrid|   Automatic|          2.3|     62430|    91468|        9982|                High|
|      M3|2019|South America|   Red| Electric|   Automatic|          4.5|    172503|    60313|        9981|                High|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows

In [ ]:
df.createOrReplaceTempView("bmw_data")

In [ ]:
sales = spark.read.csv("/content/bmw_data.csv")

sales.printSchema()
sales.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|     _c0| _c1|          _c2|   _c3|      _c4|         _c5|          _c6|       _c7|      _c8|         _c9|                _c10|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
|5 Series|2016|         Asia|   Red|   Petrol|      Manual|          3.5|    151748|    98740|        8300|                High|
|      i8|2013|North America|   Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|7 Series|2020|South America| Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|
|5 Series|2017|  Middle East|Silver|   Diesel|      Manual|          1.9|    171362|    42926|        1232|                 Low|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|
|      M5|2014|         Asia| Black|   Diesel|   Automatic|          1.6|    121156|   102778|         632|                 Low|
|      X3|2016|South America| White|   Diesel|   Automatic|          1.7|     48073|   116482|        8944|                High|
|      i8|2019|       Europe| White| Electric|      Manual|          3.0|     35700|    96257|        4411|                 Low|
|3 Series|2012|  Middle East| White| Electric|      Manual|          2.4|    101595|   117995|         500|                 Low|
|      i8|2016|North America|  Blue|   Hybrid|      Manual|          1.9|    116863|    74539|        8252|                High|
|7 Series|2020|North America|Silver|   Diesel|   Automatic|          3.8|     27403|   100015|        8111|                High|
|5 Series|2020|       Africa| White| Electric|      Manual|          2.3|    163444|   119486|        4668|                 Low|
|      X1|2017|         Asia| Black| Electric|   Automatic|          1.6|    107918|    34078|        7291|                High|
|      M3|2014|North America|Silver|   Hybrid|      Manual|          3.0|    154050|    94997|        7765|                High|
|      X5|2013|         Asia|  Blue| Electric|      Manual|          2.6|    110142|   114844|        5561|                 Low|
|      M5|2017|North America|   Red|   Diesel|   Automatic|          2.6|     86900|    81934|        9755|                High|
|5 Series|2017|North America|Silver| Electric|      Manual|          3.1|     57843|   111326|        4880|                 Low|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows

In [ ]:
sales.createOrReplaceGlobalTempView("car_sales")
df.write.mode("overwrite").saveAsTable("car_sales") #Save as table and overwrite table if exits

In [ ]:
df2 = spark.sql("SELECT * FROM car_sales")
df2.printSchema()
df2.show()

root
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Engine_Size_L: double (nullable = true)
 |-- Mileage_KM: integer (nullable = true)
 |-- Price_USD: integer (nullable = true)
 |-- Sales_Volume: integer (nullable = true)
 |-- Sales_Classification: string (nullable = true)

+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|   Model|Year|       Region| Color|Fuel_Type|Transmission|Engine_Size_L|Mileage_KM|Price_USD|Sales_Volume|Sales_Classification|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
|5 Series|2016|         Asia|   Red|   Petrol|      Manual|          3.5|    151748|    98740|        8300|                High|
|      i8|2013|North America|   Red|   Hybrid|   Automatic|          1.6|    121671|    79219|        3428|                 Low|
|5 Series|2022|North America|  Blue|   Petrol|   Automatic|          4.5|     10991|   113265|        6994|                 Low|
|      X3|2024|  Middle East|  Blue|   Petrol|   Automatic|          1.7|     27255|    60971|        4047|                 Low|
|7 Series|2020|South America| Black|   Diesel|      Manual|          2.1|    122131|    49898|        3080|                 Low|
|      i8|2022|       Europe| White|   Diesel|      Manual|          1.8|    196741|    55064|        7949|                High|
|      X3|2016|South America| White|   Diesel|   Automatic|          1.7|     48073|   116482|        8944|                High|
|      i8|2019|       Europe| White| Electric|      Manual|          3.0|     35700|    96257|        4411|                 Low|
|      i8|2016|North America|  Blue|   Hybrid|      Manual|          1.9|    116863|    74539|        8252|                High|
|7 Series|2020|North America|Silver|   Diesel|   Automatic|          3.8|     27403|   100015|        8111|                High|
|5 Series|2020|       Africa| White| Electric|      Manual|          2.3|    163444|   119486|        4668|                 Low|
|      X1|2017|         Asia| Black| Electric|   Automatic|          1.6|    107918|    34078|        7291|                High|
|      M3|2014|North America|Silver|   Hybrid|      Manual|          3.0|    154050|    94997|        7765|                High|
|      X5|2013|         Asia|  Blue| Electric|      Manual|          2.6|    110142|   114844|        5561|                 Low|
|      M5|2017|North America|   Red|   Diesel|   Automatic|          2.6|     86900|    81934|        9755|                High|
|5 Series|2017|North America|Silver| Electric|      Manual|          3.1|     57843|   111326|        4880|                 Low|
|      X5|2012|       Africa|  Blue| Electric|      Manual|          3.8|    142243|    82677|        7104|                High|
|      X3|2015|North America|   Red|   Diesel|   Automatic|          3.7|    123910|    88091|        8635|                High|
|      M5|2011|       Europe|  Grey| Electric|   Automatic|          3.3|     78042|    49507|        9383|                High|
|7 Series|2017|North America| Black|   Petrol|   Automatic|          3.2|     58288|   101791|        7521|                High|
+--------+----+-------------+------+---------+------------+-------------+----------+---------+------------+--------------------+
only showing top 20 rows

In [ ]:
df3 = spark.sql("SELECT Year, SUM(Price_USD) AS total_023_sales FROM car_sales GROUP BY year ORDER BY SUM(Price_USD) DESC LIMIT 5")
df3.printSchema()
df3.show()

root
 |-- Year: integer (nullable = true)
 |-- total_023_sales: long (nullable = true)

+----+---------------+
|Year|total_023_sales|
+----+---------------+
|2022|      213012562|
|2024|      209595431|
|2019|      206642969|
|2016|      206326338|
|2021|      205447353|
+----+---------------+